{# templates/login/index.html.twig #}
{% extends '@Admin/adminbase.html.twig' %}
{% block page_title %}
    <div class="text-center"><h1>Bookings</h1></div>
{% endblock %}
{% block content %}
    <div class="container-fluid">


        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookingTypeModal">New booking</button>

        <div id="bookings">Loading...</div>


        <div class="modal fade" id="bookingTypeModal" tabindex="-1" aria-labelledby="bookingTypeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="bookingTypeModalLabel">Create new booking</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    <div class="modal-body">

                        {{ form_row(form.customer) }}

                        {{ form_row(form.room) }}

                        {{ form_row(form.checkin) }}

                        {{ form_row(form.checkout) }}

                        {{ form_row(form.note) }}

                        {{ form_row(form.price) }}


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ form_row(form.save) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(deleteForm) }}
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    {{ form_widget(deleteForm.roomId) }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger btn-confirm-delete">Delete</button>

                </div>
                {{ form_end(deleteForm) }}
            </div>
        </div>
    </div>


    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        const confirmDeleteModal = document.getElementById('confirmDeleteModal')
        confirmDeleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget

            const roomId = button.getAttribute('data-amenityId');

            $('#delete_form_roomId').val(roomId);
            $('.btn-confirm-delete').off('click').on('click', function() {
                $('form[name="delete_form"]').submit();
            });

        })
    </script>


    <script>
        $(function() {

            $('#bookings').initDataTables({{ datatable_settings(bookingsTable) }}, {
                searching: true,
                lengthChange: false
            }).then(function (dt) {
                // dt contains the initialized instance of DataTables
                dt.on('draw', function () {

                })
            });
        });
    </script>

{% endblock %}