{# templates/login/index.html.twig #}
{% extends '@Admin/adminbase.html.twig' %}
{% block page_title %}
    <div class="text-center"><h1>Rooms</h1></div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newRoomModal">New Room</button>

        <div id="rooms">Loading...</div>
    </div>

    <div class="modal fade" id="newRoomModal" tabindex="-1" aria-labelledby="newRoomModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="newRoomModalLabel">Create new room</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    <div class="modal-body">

                        {{ form_row(form.roomType) }}

                        {{ form_row(form.roomNumber) }}

                        {{ form_row(form.price) }}

                        {{ form_row(form.active) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {{ form_row(form.save) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    {% include '@Admin/partials/modals/_delete_modal.html.twig' %}


    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>

    <script>
        $(function() {
            $('#rooms').initDataTables({{ datatable_settings(roomsTable) }}, {
                searching: true,
                lengthChange: false
            }).then(function (dt) {
                // dt contains the initialized instance of DataTables
                dt.on('draw', function () {

                })
            });
        });
    </script>

{% endblock %}