


<div class="title mb-3">
    <small data-cue="slideInUp">Luxury experience</small>
    <h2 data-cue="slideInUp" data-delay="200">Rooms &amp; Suites</h2>
</div>
<div class="row justify-content-center add_bottom_90" data-cues="slideInUp" data-delay="300" data-disabled="true">

    {% for roomType in rooms|slice(0, 3) %}

        <div class="{% if loop.index0 == 0 %}col-xl-6 col-lg-12 col-md-12 col-sm-12{% else %}col-xl-3 col-lg-6 col-md-6 col-sm-6{% endif %}" data-cue="slideInUp" data-delay="300">
            <a href="{{ path('app_room_details', {id: roomType.id}) }}" class="box_cat_rooms">
                <figure>
                    <div class="background-image" data-background="url({{ roomType.main_image }})" style="background-image: url({{ roomType.main_image }});"></div>
                    <div class="info">
                        <small>From {{ roomType.price }}/night</small>
                        <h3>{{ roomType.name }}</h3>
                        <span>View more</span>
                    </div>
                </figure>
            </a>
        </div>

    {% endfor %}

    <p class="text-end" data-cue="slideInUp" data-delay="300"><a href="room-list-1.html" class="btn_1 outline mt-2">View all Rooms</a></p>
</div>

