{% block header%}

<header class="reveal_header fixed_header menu_v1">
    <div class="layer"></div><!-- Opacity Mask -->
    <div class="container">
        <header>
            <div class="px-3 py-2">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <a href="/" class="align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none logo_normal">
                            <img width="135" height="45" src="{{ asset('img/logo.png') }}"/>
                        </a>

                        <a href="/" class="align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none logo_sticky">
                            <img width="135" height="45" src="{{ asset('img/logo_sticky.png') }}"/>
                        </a>

                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="{{ path('app_homepage') }}" class="nav-link animated_link">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_about') }}" class="nav-link animated_link">
                                    About us
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_contact') }}" class="nav-link animated_link">
                                    Contact us
                                </a>
                            </li>

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li class="dropdown">
                                    <a class="btn_1 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        My Account
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a href="{{ path('app_clientarea') }}" {% if route_name == "app_clientarea" %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %}>Dashboard</a></li>
                                        <li><a href="{{ path('app_clientarea_bookings') }}" {% if route_name == "app_clientarea_bookings" %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %}>Bookings</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                                    </ul>
                                </li>

                            {% else %}

                                <li class="dropdown">
                                    <a class="btn_1 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Customer Area
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a href="{{ path('app_login') }}" {% if route_name == "app_login" %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %}>Login</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a href="{{ path('app_register') }}" {% if route_name == "app_register" %} class="dropdown-item active" {% else %} class="dropdown-item" {% endif %}>Register</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </header>
    </div><!-- container -->
</header>

{% endblock %}